h1, h2 {
    padding-top: @padding-large-vertical;
    padding-bottom: 5px;

    margin-left: (-@grid-gutter-width / 2);
    margin-right: (-@grid-gutter-width / 2);
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);

    color: @brand-primary;
    border-bottom: 1px solid lighten(@brand-primary, 50%);
    border-bottom-color: @brand-primary;
}

h4 {
    margin-top: (@padding-large-vertical * 2);

    &.shortcode {
        font-family: @font-family-monospace;
    }
}

strong, b {
    font-weight: 600;
}

samp {
    font-size: 90%;
}

.caption {
    font-size: @font-size-small;
}

.table-small td {
    font-size: 14px;
}

.default {
    font-style: italic;
}

.contact {
    padding-bottom: 40px;
}